<section class="contact">
  <h2 class="contact__title">Contact</h2>
  <div class="contact__links">
    <a href="https://www.linkedin.com/in/mateusalves63/" class="links__item">
      <img src="/assets/icons/github.svg" alt="Mateus Alves - LinkedIn">
      <p class="item__title">Github</p>
    </a>
    <a href="https://www.linkedin.com/in/mateusalves63/" class="links__item">
      <img src="/assets/icons/linkedin.svg" alt="Mateus Alves - LinkedIn">
      <p class="item__title">LinkedIn</p>
    </a>
    <a href="https://www.linkedin.com/in/mateusalves63/" class="links__item">
      <img src="/assets/icons/mail.svg" alt="Mateus Alves - LinkedIn">
      <p class="item__title">Email</p>
    </a>
  </div>
</section>
