<section class="about">
    <app-section-title title="about"></app-section-title>
    <div class="about__content">
        <div class="content__description">
            <div class="description__text">
                <p>Hello, my name is Mateus, and I am a web developer.</p>
                <p>Since childhood, my curiosity and passion for technology have been constant. Learning how things work and, above all, building projects brings me great satisfaction.</p>
            </div>
            <div class="description__skills">
                <h3 class="skills__title">Skills:</h3>
                <ul>
                    <li>Front-End: <span>Javacript | Typescript | Next.JS | Angular</span> </li>
                    <li>Back-End: <span>PHP | Laravel | Symfony</span> </li>
                    <li>Database: <span>Mysql | PostgreSQL | MongoDB</span> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
