:root {

  --ff-sans: 'Poppins', sans-serif;

  --fw-light: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-xm: 1.1rem;
  --fs-sm: 1.5rem;
  --fs-md: 2.5rem;
  --fs-lg: 3rem;
  --fs-xl: 4rem;

  --clr-primary: #262626;
  --clr-secondary: #595959;
  --clr-tertiary: #FF7D00;

  --text-primary: #e6e6e6;
  --text-secondary: #b3b3b3;


}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: var(--ff-sans);
  font-weight: var(--fw-medium);
  line-height: 1;
  color: var(--text-primary);
}

@media(max-width: 530px) {
  html {
    font-size: 60%;
  }
}

body {
  margin: 0;
  padding-inline: 1rem;
  background-color: var(--clr-primary);
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
